@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth !important;
}
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #610000;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
body {
  position: fixed;
  overflow: hidden;
  overscroll-behavior-y: none;
 font-family: 'Rubik Mono One',
 sans-serif;
 background-color: #610000;
  color: black;
}
section {
  width: 100%;
  height: 100vh;
  position: relative;
}
.scrollbar-thumb {
  background-color: #c8c8c8 !important;
  border-radius: 50% !important;
  height: 10px !important;
  width: 10px !important;
  position: absolute;
  top: 0;
  width: 8px;
  height: 8px;
  left: -4.5px !important;
  box-shadow: 0px 0px 15px 5px #ffffff;
}

.scrollbar-thumb:hover {
  background-color: #8b8b8b !important ;
}
.scroller .scrollbar-track-y {
  top: 0;
  right: 8px;
  width: 2px;
  height: 100%;
  background: rgb(39 39 39 / 75%);
}
.main {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  overflow: hidden;
}
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  overflow: hidden;
}
.typed{
    position: absolute;
    top: 50%;
    left: calc(50% - 7.5em);
    font-family: 'Rubik Mono One',
    sans-serif; 
    font-weight: bolder;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 6em;
    color: #000000;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
    box-sizing: content-box;
    z-index: 1;
    user-select: none;
}

.anim-typewriter{
  width:0;
}